@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@300;400&family=Noto+Sans:wght@300&family=Open+Sans:wght@300;400;500;600;700;800&family=Prompt:wght@200&family=Quicksand:wght@300;400;500;600;700&family=Roboto+Slab&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&family=Quicksand:wght@500;600&family=Roboto:wght@300;400;500;700;900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap");
* {
  padding: 0%;
  margin: 0%;
  font-family: "Open Sans";
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin-bottom: 0%;
}

h1, h2, h3, h4, h5 {
  margin-bottom: 0%;
}

h2 {
  color: rgb(141, 30, 64);
}

figure {
  margin-bottom: 0%;
}

@media (min-width: 200px) and (min-width: 200px) {
  .reservation {
    row-gap: 3vh;
  }
  .reservation h2 {
    color: #FEF4E8;
  }
  .reservation > article {
    width: 100%;
    background-color: #283E56;
  }
  .reservation .policy {
    width: 95%;
    padding: 3%;
    row-gap: 2vh;
  }
  .reservation .policy p {
    color: #FFF6CD;
    font-weight: 600;
  }
  .reservation .policy li {
    color: #FEF4E8;
    font-weight: 400;
  }
  .reservation .schedule {
    display: none;
  }
  .reservation a {
    padding: 2%;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #FEF4E8;
    background-color: #283E56;
    color: #FEF4E8;
  }
}
@media (min-width: 200px) and (min-width: 200px) {
  .header-pablo {
    background-image: url("/img/worldcup.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 30vh;
    width: 100%;
  }
  .navpablo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    color: rgb(138, 135, 135);
    background-color: rgb(32, 31, 31);
    width: 100%;
    /* position: fixed; */
  }
  .navpablo img {
    width: 20vh;
  }
  .navpablo .imagemain {
    padding-left: 1%;
  }
  .navpablo ul {
    display: none;
  }
  .navpablo details {
    width: 95%;
    font-size: 26px;
    text-align: right;
    position: fixed;
    z-index: 1;
  }
  .navpablo details ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    background-color: rgb(32, 31, 31);
    margin-top: 2.5vh;
    margin-bottom: 0;
    padding-left: 0rem;
  }
  .navpablo details li {
    display: flex;
    padding: 3%;
    border-bottom: 1px solid white;
  }
  .navpablo details a {
    color: white;
    text-decoration: none;
    font-size: 14px;
  }
  .navpablo details summary {
    padding: 1%;
    color: rgb(141, 30, 64);
    border: 4px solid rgba(141, 30, 64, 0.5);
  }
  .news-pablo {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    padding-bottom: 10%;
    align-items: center;
    row-gap: 2vh;
    width: 95%;
  }
  .news-pablo article {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 3vh;
    align-items: center;
  }
  .news-pablo article aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2vh;
  }
  .news-pablo article figure {
    width: 90%;
  }
  .news-pablo article img {
    width: 100%;
  }
  .news-pablo article p {
    width: 90%;
    line-height: 1.5;
  }
  .news-pablo article a:hover img {
    border: 5px solid rgb(141, 30, 64);
  }
  .stadiums-pablo {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    padding-bottom: 10%;
    align-items: center;
    row-gap: 2vh;
    width: 95%;
  }
  .stadiums-pablo iframe {
    width: 100%;
  }
  .stadiums-pablo article {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 3vh;
  }
  .stadiums-pablo article figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1vh;
    border: 2px solid rgb(32, 31, 31);
    background-color: rgb(32, 31, 31);
  }
  .stadiums-pablo article img {
    width: 100%;
  }
  .stadiums-pablo article figcaption {
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
  }
  .stadiums-pablo article p {
    width: 95%;
    color: white;
  }
  .stadiums-pablo article .stadium-figtop {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    text-align: center;
    border-bottom: 1px solid white;
    padding-bottom: 2%;
  }
  .stadiums-pablo article .stadium-figbot {
    display: flex;
    -moz-column-gap: 3vh;
         column-gap: 3vh;
    justify-content: center;
  }
  .stadiums-pablo article .stadium-figbot span {
    font-size: 20px;
    color: white;
  }
  .stadiums-pablo article .stadium-figbot .capacity {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .stadiums-pablo article h4 {
    color: white;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }
  .history-pablo {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    padding-bottom: 10%;
    align-items: center;
    row-gap: 2vh;
    width: 95%;
  }
  .history-pablo article {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 3vh;
  }
  .history-pablo .timeline {
    display: flex;
    flex-direction: column;
  }
  .history-pablo aside {
    display: flex;
    flex-direction: column;
    row-gap: 4vh;
  }
  .history-pablo aside figure {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(32, 31, 31);
  }
  /****/
  footer {
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(32, 31, 31);
  }
  footer .sponsor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 95%;
  }
  footer img {
    height: 6vh;
    width: 6h;
  }
  footer section {
    color: white;
    font-size: 12px;
    width: 95%;
    text-align: center;
  }
  .score-ecuador {
    background-color: rgb(141, 30, 64);
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
  }
  .score-ecuador aside {
    display: flex;
    flex-direction: column;
    width: 95%;
    align-items: center;
    text-align: center;
  }
  .score-ecuador h4 {
    display: flex;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
  }
  .score-ecuador span {
    width: 4vh;
    color: white;
    display: flex;
    justify-content: center;
    background-color: black;
  }
  .news-ecuador {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    padding-bottom: 10%;
    align-items: center;
    row-gap: 2vh;
    width: 95%;
  }
  .news-ecuador figure {
    width: 100%;
  }
  .news-ecuador figcaption {
    line-height: 1.5;
  }
  .news-ecuador img {
    width: 100%;
  }
  .news-ecuador h2 {
    text-transform: uppercase;
    width: 100%;
    text-align: center;
  }
  .about-ecuador {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    padding-bottom: 10%;
    align-items: center;
    row-gap: 2vh;
    width: 95%;
  }
  .about-ecuador .text {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
  }
  .about-ecuador .text p {
    line-height: 1.5;
  }
  .about-ecuador .text img {
    width: 100%;
  }
  .about-ecuador .bars-ecuador {
    display: flex;
    flex-direction: column;
    width: 95%;
  }
  .about-ecuador .bars-ecuador small {
    font-weight: 600;
    text-transform: capitalize;
  }
  .about-ecuador .bars-ecuador .markers-ecuador {
    display: flex;
    -moz-column-gap: 3vh;
         column-gap: 3vh;
    justify-content: center;
  }
  .about-ecuador .bars-ecuador .markers-ecuador .marker-qatar {
    color: rgb(141, 30, 64);
  }
  .about-ecuador .bars-ecuador .ecuador {
    color: white;
    width: 100%;
    font-size: 12px;
    font-weight: 600;
    height: 30px;
    background-color: rgb(32, 31, 31);
    --bs-gutter-x: 0;
    display: flex;
    align-items: center;
    position: relative;
  }
  .about-ecuador .bars-ecuador .ecuador p {
    display: flex;
    width: 98%;
    justify-content: flex-end;
    padding-right: 2%;
    position: absolute;
  }
  .about-ecuador .bars-ecuador .qatar-possesion {
    padding-left: 2%;
    color: white;
    font-size: 12px;
    font-weight: 600;
    height: 30px;
    background-color: rgb(141, 30, 64);
    display: flex;
    align-items: center;
    width: 47%;
    border-right: 3px solid white;
  }
  .about-ecuador .bars-ecuador .qatar-shots {
    padding-left: 2%;
    color: white;
    font-size: 12px;
    font-weight: 600;
    height: 30px;
    background-color: rgb(141, 30, 64);
    display: flex;
    align-items: center;
    width: 40%;
    border-right: 3px solid white;
  }
  .about-ecuador .bars-ecuador .qatar-shotstarget {
    padding-left: 2%;
    color: white;
    font-size: 12px;
    font-weight: 600;
    height: 30px;
    background-color: rgb(141, 30, 64);
    display: flex;
    align-items: center;
    width: 5%;
    border-right: 3px solid white;
  }
  .about-ecuador .bars-ecuador .qatar-corners {
    padding-left: 2%;
    color: white;
    font-size: 12px;
    font-weight: 600;
    height: 30px;
    background-color: rgb(141, 30, 64);
    display: flex;
    align-items: center;
    width: 10%;
    border-right: 3px solid white;
  }
  .about-ecuador .bars-ecuador .qatar-fouls {
    padding-left: 2%;
    color: white;
    font-size: 12px;
    font-weight: 600;
    height: 30px;
    background-color: rgb(141, 30, 64);
    display: flex;
    align-items: center;
    width: 50%;
    border-right: 3px solid white;
  }
  .blog-ecuador {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    padding-bottom: 10%;
    align-items: center;
    row-gap: 2vh;
    width: 95%;
  }
  .blog-ecuador a {
    color: rgb(141, 30, 64);
    text-decoration: none;
    font-weight: 600;
  }
  .blog-ecuador a:hover {
    color: rgb(138, 135, 135);
  }
  .blog-ecuador aside {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
  }
  .blog-ecuador aside article {
    display: flex;
    -moz-column-gap: 4vh;
         column-gap: 4vh;
  }
  .blog-ecuador aside i {
    color: rgb(141, 30, 64);
  }
  .score-japan {
    background-color: rgb(141, 30, 64);
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
  }
  .score-japan aside {
    display: flex;
    flex-direction: column;
    width: 95%;
    align-items: center;
    text-align: center;
  }
  .score-japan h4 {
    display: flex;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
  }
  .score-japan span {
    width: 4vh;
    color: black;
    display: flex;
    justify-content: center;
    background-color: yellow;
  }
  .news-japan {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    padding-bottom: 10%;
    align-items: center;
    row-gap: 2vh;
    width: 95%;
  }
  .news-japan figure {
    width: 100%;
  }
  .news-japan figcaption {
    line-height: 1.5;
  }
  .news-japan img {
    width: 100%;
  }
  .news-japan h2 {
    text-transform: uppercase;
    width: 100%;
    text-align: center;
  }
  .about-japan {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    padding-bottom: 10%;
    align-items: center;
    row-gap: 2vh;
    width: 95%;
  }
  .about-japan figure {
    width: 100%;
  }
  .about-japan img {
    width: 100%;
  }
  .about-japan .text {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
  }
  .about-japan .text p {
    line-height: 1.5;
  }
  .about-japan .bars-japan {
    display: flex;
    flex-direction: column;
    width: 95%;
  }
  .about-japan .bars-japan small {
    font-weight: 600;
    text-transform: capitalize;
  }
  .about-japan .bars-japan .markers-japan {
    display: flex;
    -moz-column-gap: 3vh;
         column-gap: 3vh;
    justify-content: center;
  }
  .about-japan .bars-japan .markers-japan .marker-germany {
    color: rgb(141, 30, 64);
  }
  .about-japan .bars-japan .japan {
    color: white;
    width: 100%;
    font-size: 12px;
    font-weight: 600;
    height: 30px;
    background-color: rgb(32, 31, 31);
    --bs-gutter-x: 0;
    display: flex;
    align-items: center;
    position: relative;
  }
  .about-japan .bars-japan .japan p {
    display: flex;
    width: 98%;
    justify-content: flex-end;
    padding-right: 2%;
    position: absolute;
  }
  .about-japan .bars-japan .germany-possesion {
    padding-left: 2%;
    color: white;
    font-size: 12px;
    font-weight: 600;
    height: 30px;
    background-color: rgb(141, 30, 64);
    display: flex;
    align-items: center;
    width: 74%;
    border-right: 3px solid white;
  }
  .about-japan .bars-japan .germany-shots {
    padding-left: 2%;
    color: white;
    font-size: 12px;
    font-weight: 600;
    height: 30px;
    background-color: rgb(141, 30, 64);
    display: flex;
    align-items: center;
    width: 68%;
    border-right: 3px solid white;
  }
  .about-japan .bars-japan .germany-shotstarget {
    padding-left: 2%;
    color: white;
    font-size: 12px;
    font-weight: 600;
    height: 30px;
    background-color: rgb(141, 30, 64);
    display: flex;
    align-items: center;
    width: 66%;
    border-right: 3px solid white;
  }
  .about-japan .bars-japan .germany-corners {
    padding-left: 2%;
    color: white;
    font-size: 12px;
    font-weight: 600;
    height: 30px;
    background-color: rgb(141, 30, 64);
    display: flex;
    align-items: center;
    width: 50%;
    border-right: 3px solid white;
  }
  .about-japan .bars-japan .germany-fouls {
    padding-left: 2%;
    color: white;
    font-size: 12px;
    font-weight: 600;
    height: 30px;
    background-color: rgb(141, 30, 64);
    display: flex;
    align-items: center;
    width: 30%;
    border-right: 3px solid white;
  }
  .blog-japan {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    padding-bottom: 10%;
    align-items: center;
    row-gap: 2vh;
    width: 95%;
  }
  .blog-japan a {
    color: rgb(141, 30, 64);
    text-decoration: none;
    font-weight: 600;
  }
  .blog-japan a:hover {
    color: rgb(138, 135, 135);
  }
  .blog-japan aside {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
  }
  .blog-japan aside article {
    display: flex;
    -moz-column-gap: 4vh;
         column-gap: 4vh;
  }
  .blog-japan aside i {
    color: rgb(141, 30, 64);
  }
  .blog-japan article {
    display: flex;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
  }
  .score-spain {
    background-color: rgb(141, 30, 64);
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
  }
  .score-spain aside {
    display: flex;
    flex-direction: column;
    width: 95%;
    align-items: center;
    text-align: center;
  }
  .score-spain h4 {
    display: flex;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
  }
  .score-spain span {
    width: 4vh;
    color: black;
    display: flex;
    justify-content: center;
    background-color: white;
  }
  .news-spain {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    padding-bottom: 10%;
    align-items: center;
    row-gap: 2vh;
    width: 95%;
  }
  .news-spain p {
    line-height: 1.5;
  }
  .news-spain figure {
    width: 100%;
  }
  .news-spain figcaption {
    line-height: 1.5;
  }
  .news-spain img {
    width: 100%;
  }
  .news-spain h2 {
    text-transform: uppercase;
    width: 100%;
    text-align: center;
  }
  .about-spain {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    padding-bottom: 10%;
    align-items: center;
    row-gap: 2vh;
    width: 95%;
  }
  .about-spain figure {
    width: 100%;
  }
  .about-spain img {
    width: 100%;
  }
  .about-spain .text {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
  }
  .about-spain .text p {
    line-height: 1.5;
  }
  .about-spain .bars-spain {
    display: flex;
    flex-direction: column;
    width: 95%;
  }
  .about-spain .bars-spain small {
    font-weight: 600;
    text-transform: capitalize;
  }
  .about-spain .bars-spain .markers-spain {
    display: flex;
    -moz-column-gap: 3vh;
         column-gap: 3vh;
    justify-content: center;
  }
  .about-spain .bars-spain .markers-spain .marker-spain {
    color: rgb(141, 30, 64);
  }
  .about-spain .bars-spain .Costa-Rica {
    color: white;
    width: 100%;
    font-size: 12px;
    font-weight: 600;
    height: 30px;
    background-color: rgb(32, 31, 31);
    --bs-gutter-x: 0;
    display: flex;
    align-items: center;
    position: relative;
  }
  .about-spain .bars-spain .Costa-Rica p {
    display: flex;
    width: 98%;
    justify-content: flex-end;
    padding-right: 2%;
    position: absolute;
  }
  .about-spain .bars-spain .spain-possesion {
    padding-left: 2%;
    color: white;
    font-size: 12px;
    font-weight: 600;
    height: 30px;
    background-color: rgb(141, 30, 64);
    display: flex;
    align-items: center;
    width: 82%;
    border-right: 3px solid white;
  }
  .about-spain .bars-spain .spain-shots {
    padding-left: 2%;
    color: white;
    font-size: 12px;
    font-weight: 600;
    height: 30px;
    background-color: rgb(141, 30, 64);
    display: flex;
    align-items: center;
    width: 99%;
    border-right: 3px solid white;
  }
  .about-spain .bars-spain .spain-shotstarget {
    padding-left: 2%;
    color: white;
    font-size: 12px;
    font-weight: 600;
    height: 30px;
    background-color: rgb(141, 30, 64);
    display: flex;
    align-items: center;
    width: 99%;
    border-right: 3px solid white;
  }
  .about-spain .bars-spain .spain-corners {
    padding-left: 2%;
    color: white;
    font-size: 12px;
    font-weight: 600;
    height: 30px;
    background-color: rgb(141, 30, 64);
    display: flex;
    align-items: center;
    width: 99%;
    border-right: 3px solid white;
  }
  .about-spain .bars-spain .spain-fouls {
    padding-left: 2%;
    color: white;
    font-size: 12px;
    font-weight: 600;
    height: 30px;
    background-color: rgb(141, 30, 64);
    display: flex;
    align-items: center;
    width: 40%;
    border-right: 3px solid white;
  }
  .blog-spain {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    padding-bottom: 10%;
    align-items: center;
    row-gap: 2vh;
    width: 95%;
  }
  .blog-spain a {
    color: rgb(141, 30, 64);
    text-decoration: none;
    font-weight: 600;
  }
  .blog-spain a:hover {
    color: rgb(138, 135, 135);
  }
  .blog-spain aside {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
  }
  .blog-spain aside article {
    display: flex;
    -moz-column-gap: 4vh;
         column-gap: 4vh;
  }
  .blog-spain aside i {
    color: rgb(141, 30, 64);
  }
  .about-pablo {
    border-top: 1px solid rgb(32, 31, 31);
    border-bottom: 1px solid rgb(32, 31, 31);
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    padding-bottom: 10%;
    align-items: center;
    row-gap: 2vh;
    width: 95%;
    align-items: center;
  }
  .about-pablo > h2 {
    font-size: 40px;
  }
  .about-pablo .news-preview {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    align-items: center;
  }
  .about-pablo .news-preview article {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
  }
  .about-pablo .news-preview aside {
    display: flex;
    flex-direction: column;
  }
  .about-pablo .news-preview img {
    width: 100%;
  }
  .about-pablo .timeline-preview {
    display: flex;
    justify-content: center;
  }
  .about-pablo .timeline-preview figure {
    display: flex;
    align-items: center;
    border-top: 1px solid rgb(32, 31, 31);
    border-bottom: 1px solid rgb(32, 31, 31);
  }
  .about-pablo .stadiums-preview figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1vh;
    border: 2px solid rgb(32, 31, 31);
    background-color: rgb(32, 31, 31);
  }
  .about-pablo .stadiums-preview img {
    width: 100%;
  }
  .about-pablo .stadiums-preview figcaption {
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
  }
  .about-pablo .stadiums-preview p {
    width: 95%;
    color: white;
  }
  .about-pablo .stadiums-preview .stadium-figtop {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    text-align: center;
    border-bottom: 1px solid white;
    padding-bottom: 2%;
  }
  .about-pablo .stadiums-preview .stadium-figbot {
    display: flex;
    -moz-column-gap: 3vh;
         column-gap: 3vh;
    justify-content: center;
  }
  .about-pablo .stadiums-preview .stadium-figbot span {
    font-size: 20px;
    color: white;
  }
  .about-pablo .stadiums-preview .stadium-figbot .capacity {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about-pablo .stadiums-preview h4 {
    color: white;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }
  .indexheader video {
    width: 100%;
  }
  .logopablo {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media (min-width: 200px) and (min-width: 200px) {
  .merch article {
    width: 100%;
  }
  .merch main {
    overflow: hidden;
  }
  .merch main,
.merch main > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .merch h2 > span {
    display: none;
  }
  .merch nav {
    background-color: white;
    height: 10vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .merch nav > ul {
    display: none;
  }
  .merch details.bars {
    width: 85%;
    text-align: end;
    position: fixed;
    z-index: 1200;
  }
  .merch details.bars > ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    background-color: #3D3F3F;
    text-align: start;
    padding: 0;
    list-style-type: none;
  }
  .merch details.bars li {
    display: flex;
    width: 100%;
    border: 1px solid white;
    background-color: black;
    transition: 0.5s;
  }
  .merch details.bars a {
    color: white;
    text-decoration: none;
    width: 100%;
    padding: 2%;
  }
  .merch details.bars > summary {
    font-size: 25px;
    font-weight: 800;
  }
  .merch header {
    background-color: black;
    z-index: -1;
    height: 12vh;
    padding-top: 1vh;
  }
  .merch header > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .merch header h1 {
    font-size: 14px;
    color: white;
    background-color: rgba(0, 0, 0, 0.322);
  }
  .merch header i {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    text-align: center;
    border: 2px solid white;
    border-radius: 50%;
    width: 6vh;
    height: 6vh;
    background-color: rgba(0, 0, 0, 0.322);
  }
  .merch header article:nth-child(3) {
    display: none;
  }
  .merch details.login {
    width: 30%;
    padding-top: 1vh;
    padding-bottom: 1vh;
  }
  .merch details.login summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1%;
    background-color: black;
    color: white;
    width: 9vh;
    height: 9vh;
    border-radius: 50%;
    font-size: 26px;
    border: 2px solid white;
    transition: 0.5s;
  }
  .merch details.login .formFather {
    padding-top: 1vh;
    width: 35vh;
    position: absolute;
    z-index: 1099;
  }
  .merch details.login form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    row-gap: 0.5vh;
  }
  .merch details.login input {
    width: 100%;
    border: 1px solid black;
    padding: 1vh;
    background-color: white;
    color: black;
  }
  .merch .loginFather {
    height: 15vh;
    flex-direction: row;
    background: linear-gradient(#000000, white);
  }
  .merch .loginFather > h2 {
    font-size: 16px;
    font-weight: 700;
    color: white;
  }
  .merch .carousels {
    padding-top: 5vh;
  }
  .merch .carousels > article {
    width: 100%;
  }
  .merch .carousels img {
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .merch aside > button.btn + p {
    display: none;
  }
  .merch .ad {
    height: 75vh;
  }
  .merch .ad > article {
    position: relative;
  }
  .merch video {
    width: 100%;
    position: absolute;
    left: 50%; /* % of surrounding element */
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .merch footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    row-gap: 1vh;
    height: 30vh;
    background-color: black;
    color: white;
  }
  .merch footer i {
    color: white;
    width: 5vh;
    height: 5vh;
  }
  .sale > article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .sale a {
    text-align: center;
    color: white;
    text-decoration: none;
    background-color: black;
    border-radius: 5px;
    padding: 2vh;
    width: 50%;
    font-size: 14px;
    border: 2px solid black;
    transition: 0.5s;
  }
  .sale figcaption {
    display: none;
  }
  .sale aside {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 3vh 0 3vh 0;
    row-gap: 3vh;
  }
  .sale figure {
    width: 100%;
    height: 30vh;
  }
  .sale aside:nth-child(1) > figure {
    background-image: url("/img/basketball.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .sale aside:nth-child(2) > figure {
    background-image: url("/img/football.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .sale aside:nth-child(3) > figure {
    background-image: url("/img/soccer.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .sale aside:nth-child(4) > figure {
    background-image: url("/img/golf.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .sale aside:nth-child(5) > figure {
    background-image: url("/img/cycling.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .sale aside:nth-child(6) > figure {
    background-image: url("/img/boxing.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .carousel-item > aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .carousel-item > aside figure {
    padding-top: 3vh;
    padding-bottom: 2vh;
    width: 100%;
  }
  section.normal > article > aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    row-gap: 3vh;
  }
  section.normal > article:last-child a,
section.normal > article:last-child p {
    display: none;
  }
  section.normal > article:last-child a:last-child {
    display: flex;
    color: white;
    text-decoration: none;
    background-color: black;
    border-radius: 5px;
    padding: 1vh;
    border: 2px solid black;
    transition: 0.5s;
  }
  aside.normalFig {
    box-shadow: inset 0px 11px 8px -10px black, inset 0px -11px 8px -10px black;
  }
  aside.normalFig > aside {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    padding-bottom: 3vh;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
  }
  aside.normalFig img {
    width: 100%;
  }
  aside.normalFig figure {
    width: 100%;
  }
  aside.normalFig a {
    color: black;
    text-decoration: none;
    font-size: 20px;
  }
  aside.normalFig .btn {
    background-color: black;
    border: 2px solid black;
  }
  .salesFigs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    row-gap: 4vh;
    padding-bottom: 4vh;
  }
  .sep {
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
  }
  .sep span {
    width: 30%;
    height: 0.5vh;
    background-color: black;
    padding: 0;
    margin: 0;
  }
  .sep h3 {
    padding-top: 2vh;
    padding-bottom: 2vh;
  }
  .brands img {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .brands > article:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    row-gap: 2vh;
    width: 50%;
  }
  .logoenrique {
    max-height: 18vh;
  }
}
@media (min-width: 200px) and (min-width: 200px) {
  nav,
nav > section,
header,
header > section,
main,
main section,
main article,
main aside,
article,
form,
fieldset,
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main {
    row-gap: 5vh;
  }
  nav > section {
    width: 100%;
  }
  nav > section ul {
    display: none;
  }
  nav details {
    width: 95%;
    padding: 2%;
    position: relative;
    position: fixed;
    text-align: right;
    justify-content: center;
    z-index: 6;
  }
  nav details ul {
    width: 100%;
    height: 25vh;
    background-color: #FEF4E8;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  nav details li {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 0;
  }
  nav details a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-align: start;
    font-weight: 500;
  }
  nav summary {
    font-size: 25px;
    display: flex;
    text-align: right;
    justify-content: flex-end;
  }
  nav ul {
    margin-bottom: 0;
    padding-left: 0;
  }
  nav i,
nav a {
    color: #970747;
  }
  header {
    height: 35vh;
    display: flex;
    background-color: #FEF4E8;
    align-items: center;
    justify-content: center;
  }
  header section {
    width: 19vh;
    height: 22vh;
    background-image: url(/img/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 25px;
  }
  h1,
h2 {
    color: #283E56;
    text-transform: uppercase;
    font-weight: 600;
  }
  h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
  }
  p {
    margin-bottom: 0;
  }
  form {
    width: 95%;
  }
  fieldset {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    border: 1px solid darkgray;
    padding: 2%;
    padding-top: 3vh;
    padding-bottom: 3vh;
  }
  footer {
    height: 10vh;
    background-color: #1989AC;
    justify-content: center;
  }
  footer section {
    display: flex;
    flex-direction: row;
    align-items: center;
    -moz-column-gap: 2vh;
         column-gap: 2vh;
  }
  footer i,
footer h3,
footer p {
    color: #FEF4E8;
  }
  footer h3 {
    font-size: 15px;
  }
  footer p {
    font-size: 13px;
  }
  footer aside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
    row-gap: 0;
  }
  footer aside > a {
    width: 4vh;
    height: 4vh;
    border: 1px solid #FEF4E8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 13px;
  }
  .ticket,
.tuser {
    width: 95%;
  }
  .ticket {
    padding-top: 5vh;
    row-gap: 3vh;
  }
  .ticket article {
    row-gap: 2vh;
  }
  .ticket p {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    color: #1989AC;
    line-height: 1.5;
  }
  .policy p {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: dimgray;
  }
  .policy article {
    display: flex;
    justify-content: center;
  }
  .policy ul {
    width: 95%;
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    margin-bottom: 0;
    padding-left: 0;
  }
  .policy li {
    list-style-type: none;
    font-size: 13px;
    line-height: 1.5;
  }
  .policy aside {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
    text-transform: capitalize;
  }
  .info {
    width: 100%;
    row-gap: 3vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    background-color: #283E56;
  }
  .info h2 {
    color: #FFF6CD;
  }
  .info form {
    width: 100%;
    row-gap: 3vh;
  }
  .info aside {
    width: 90%;
  }
  .info label {
    width: 100%;
    color: #FFF6CD;
    text-transform: capitalize;
    font-size: 13px;
  }
  .info input {
    width: 100%;
    border: 1px solid darkgray;
    background-color: gainsboro;
  }
  .info ::-moz-placeholder {
    text-transform: capitalize;
    font-size: 10px;
  }
  .info :-ms-input-placeholder {
    text-transform: capitalize;
    font-size: 10px;
  }
  .info ::placeholder {
    text-transform: capitalize;
    font-size: 10px;
  }
  .info aside:nth-child(1) {
    display: flex;
    width: 93%;
  }
  .info aside:nth-child(1) section {
    width: 100%;
    flex-direction: row;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
  }
  .info article {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .info article aside:first-child {
    width: 50%;
    flex-direction: row;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
    align-items: center;
    justify-content: flex-start;
  }
  .info article label {
    width: 20%;
  }
  .info article input {
    width: 60%;
  }
  .info h4 {
    color: #FFF6CD;
    text-decoration: underline;
    font-size: 12px;
    font-weight: 400;
  }
  .info section {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .info details {
    width: 100%;
    position: relative;
    align-items: center;
    z-index: 6;
  }
  .info details > ul {
    position: absolute;
    width: 100%;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    display: flex;
  }
  .info details > ul li {
    width: 100%;
    height: 100%;
    background-color: #FEF4E8;
    text-transform: capitalize;
    font-weight: 500;
    padding: 2%;
    font-size: 13px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .info details > ul li ul {
    width: 100%;
    padding-top: 0;
  }
  .info details > ul li ul li {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    padding: 0;
    list-style-type: none;
  }
  .info summary {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
  }
  .info aside:last-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    -moz-column-gap: 2vh;
         column-gap: 2vh;
  }
  .info aside:last-child input {
    height: 4vh;
    width: 13vh;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: White;
    color: #283E56;
  }
  .faq {
    width: 95%;
    row-gap: 3vh;
  }
  .faq h2 {
    color: #283E56;
  }
  .faq h4 {
    width: 100%;
    text-decoration: none;
  }
  .faq #accordionFlushExample {
    width: 100%;
  }
  .faq .accordion-button {
    width: 100%;
    color: #FFF6CD;
    background-color: #970747;
  }
  .event {
    height: 13vh;
    width: 100%;
  }
  .event h2 {
    color: #FFF6CD;
  }
  .event figure {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
  }
  .event img {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .event figcaption {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(20, 20, 20, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 0;
  }
  .event p {
    font-size: 12px;
    color: #FEF4E8;
  }
  .event h5 {
    color: #FEF4E8;
    text-transform: uppercase;
    font-size: 18px;
  }
}
@media (min-width: 200px) {
  .gallery {
    width: 100%;
  }
  .gallery article {
    width: 90%;
    row-gap: 3vh;
  }
  .gallery figure {
    width: 100%;
    height: 30vh;
    background-color: whitesmoke;
  }
  .gallery img {
    width: 100%;
    height: 20vh;
  }
  .gallery a {
    height: 100%;
    text-decoration: none;
    color: #283E56;
  }
  .gallery aside {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .gallery h6 {
    font-size: 20px;
  }
}
@media (min-width: 600px) and (min-width: 700px) {
  .reservation .schedule {
    width: 50%;
    background-color: #FEF4E8;
    row-gap: 2vh;
  }
  .reservation .schedule > ul {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    row-gap: 2vh;
  }
  .reservation .schedule > ul > li {
    width: 40vh;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
  }
  .reservation .schedule > ul > li li {
    padding-left: 2%;
    list-style-type: none;
    text-transform: capitalize;
    font-size: 15px;
  }
}
@media (min-width: 600px) and (min-width: 600px) {
  .navpablo .imagemain {
    padding-left: 2%;
  }
  .navpablo details {
    width: 85%;
    font-size: 40px;
    z-index: 1;
  }
  .navpablo details ul {
    margin-top: 2.5vh;
  }
  .news-pablo > h2 {
    font-weight: 600;
    font-size: 40px;
  }
  .news-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .news-content article {
    width: 50%;
  }
  .history-pablo article p {
    line-height: 1.5;
  }
  .history-pablo article h2 {
    text-align: center;
  }
  .history-pablo .timeline figure {
    padding-bottom: 1%;
  }
  .history-pablo aside {
    row-gap: 2vh;
  }
  .stadiums-pablo article {
    flex-direction: row;
    flex-wrap: wrap;
    -moz-column-gap: 3vh;
         column-gap: 3vh;
    padding-left: 5%;
  }
  .stadiums-pablo article figure {
    width: 45%;
  }
  .blog-ecuador aside,
.blog-japan aside,
.blog-spain aside {
    width: 60%;
  }
  .about-ecuador {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .about-ecuador .text {
    width: 50%;
    row-gap: 3vh;
  }
  .about-ecuador .bars-ecuador {
    width: 45%;
    row-gap: 1vh;
  }
  .about-japan .text {
    width: 95%;
    row-gap: 2vh;
  }
  .about-japan .bars-japan {
    width: 50%;
  }
  .about-spain {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .about-spain .text {
    width: 55%;
    text-align: center;
    row-gap: 3.7vh;
  }
  .about-spain .bars-spain {
    width: 40%;
    row-gap: 1vh;
  }
}
@media (min-width: 600px) and (min-width: 600px) {
  .merch details.login summary:hover {
    color: black;
    background-color: white;
  }
  .merch details.login [type=submit]:hover {
    background-color: black;
    color: white;
  }
  .merch details.bars li:hover {
    display: flex;
    width: 100%;
    border: 1px solid white;
    background-color: white;
  }
  .merch details.bars a:hover {
    color: black;
  }
  .merch section.loginFather {
    -moz-column-gap: 20%;
         column-gap: 20%;
  }
  .merch .carousel-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .merch video {
    cursor: pointer;
  }
  .merch h2 {
    display: flex;
    -moz-column-gap: 3vh;
         column-gap: 3vh;
    width: 70%;
  }
  .merch h2 > span {
    display: flex;
    text-transform: uppercase;
    color: pink;
  }
  .merch footer i:hover {
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    padding: 0;
  }
  .login {
    padding-left: 5vh;
  }
  .carousels h5 {
    text-transform: uppercase;
    text-shadow: 2px 2px 2px black;
    font-size: 30px;
  }
  .carousels p {
    text-shadow: 2px 2px 2px black;
    font-size: 22px;
  }
  article.fix {
    flex-direction: row;
    flex-wrap: wrap;
    -moz-column-gap: 5vh;
         column-gap: 5vh;
  }
  .sale aside {
    width: 40%;
  }
  .sale figure {
    width: 100%;
    height: 30vh;
    transition: 0.5s;
  }
  .sale figcaption {
    transition: 0.5s;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  .sale figure:hover > figcaption {
    display: flex;
    background-color: rgba(0, 0, 0, 0.39);
    color: white;
    font-size: 26px;
    text-align: center;
  }
  .sale p {
    width: 100%;
    padding-top: 2vh;
    transition: 0.5s;
  }
  .sale a:hover {
    color: black;
    background-color: white;
    border: 2px solid black;
  }
  .brands > article:last-child {
    width: 80%;
    height: 22vh;
    flex-direction: row;
    -moz-column-gap: 15%;
         column-gap: 15%;
  }
  .brands > article:last-child > a {
    width: 24%;
    transition: 0.4s;
  }
  .brands > article:last-child > a:hover {
    border-bottom: 4px solid black;
  }
  .salesFigs {
    flex-direction: row;
    -moz-column-gap: 3vh;
         column-gap: 3vh;
    flex-wrap: wrap;
  }
  .salesFigs > .normalFig {
    width: 40%;
  }
  section.normal > article:last-child a:last-child:hover {
    display: flex;
    color: black;
    text-decoration: none;
    background-color: white;
    border: 2px solid black;
  }
  aside.normalFig .btn:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
  }
  .ad > article {
    width: 70%;
  }
}
@media (min-width: 600px) and (min-width: 700px) {
  nav {
    width: 100%;
    height: 5vh;
    background-color: #970747;
    position: fixed;
  }
  nav > section {
    height: 100%;
  }
  nav > section ul {
    width: 80%;
    height: 100%;
    display: flex;
  }
  nav > section li {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  nav > section a {
    width: 100%;
    height: 100%;
    color: #FEF4E8;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  nav details {
    display: none;
  }
  footer article {
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
  }
  footer section {
    display: flex;
  }
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 40px;
  }
  form aside:nth-child(3) {
    -moz-column-gap: 1vh;
         column-gap: 1vh;
  }
  form aside:nth-child(3) input {
    width: 70%;
  }
  .ticket {
    width: 95%;
  }
  .ticket p {
    font-size: 23px;
  }
  .policy {
    width: 100%;
  }
  .policy p,
.policy li {
    font-size: 20px;
  }
  .policy label {
    font-size: 20px;
  }
  .info aside {
    flex-direction: row;
    -moz-column-gap: 7vh;
         column-gap: 7vh;
  }
  .info aside:nth-child(3) label {
    width: 20vh;
  }
  .info label {
    width: 0;
    font-size: 20px;
    display: flex;
    justify-content: left;
  }
  .info input {
    height: 3vh;
  }
  .info aside:last-child input {
    font-size: 20px;
  }
  .faq section {
    width: 100%;
  }
  .event figcaption {
    row-gap: 2vh;
  }
}
@media (min-width: 1000px) and (min-width: 1000px) {
  nav {
    position: fixed;
  }
  .reservation > article {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .reservation > article .schedule {
    display: flex;
  }
  .reservation .policy {
    width: 50%;
    row-gap: 4vh;
  }
  .reservation a {
    transition: 0.4s;
  }
  .reservation a:hover {
    color: #283E56;
    background-color: #FEF4E8;
  }
  .reservation .schedule {
    width: 50%;
    display: flex;
    padding: 3%;
    row-gap: 5vh;
  }
  .reservation .schedule h2 {
    color: #283E56;
  }
  .reservation .schedule > ul {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .reservation .schedule > ul > li {
    width: 50%;
  }
  .reservation details {
    display: none;
  }
}
@media (min-width: 1000px) and (min-width: 1000px) {
  .header-pablo {
    height: 60vh;
  }
  .navpablo ul {
    display: flex;
    width: 60%;
  }
  .navpablo ul li {
    display: flex;
    /* border: 1px solid red; */
    width: 100%;
    justify-content: center;
  }
  .navpablo a {
    width: 100%;
    padding: 10%;
    text-decoration: none;
    text-align: center;
    border-radius: 5%;
    color: rgb(138, 135, 135);
  }
  .navpablo a:hover {
    background-color: rgb(141, 30, 64);
    color: white;
  }
  .navpablo details {
    display: none;
  }
  .about-japan img {
    height: 50vh;
    width: 50vh;
  }
  .score-ecuador,
.score-japan,
.score-spain {
    width: 100%;
  }
}
@media (min-width: 1000px) and (min-width: 1000px) {
  .merch nav > ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    background-color: black;
    height: 100%;
    text-align: center;
    list-style-type: none;
  }
  .merch nav a {
    text-decoration: none;
    color: white;
  }
  .merch nav > details {
    display: none;
  }
  .carousels > article.one {
    width: 50%;
  }
  .sale aside {
    width: 30%;
  }
  .ad > article {
    width: 50%;
  }
}
@media (min-width: 1000px) and (min-width: 1000px) {
  nav > Section ul {
    justify-content: center;
  }
  nav > Section li {
    width: 20vh;
  }
  nav > Section a {
    transition: 0.4s;
  }
  nav > Section a:hover {
    color: #970747;
    background-color: #FEF4E8;
  }
  .info details > ul {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .info details > ul li {
    width: 50%;
  }
  .info [type=submit],
.info [type=reset] {
    transition: 0.4s;
  }
  .info [type=submit]:hover,
.info [type=reset]:hover {
    background-color: #283E56;
    color: #FEF4E8;
  }
  .event {
    height: 20vh;
  }
  .event p {
    font-size: 30px;
  }
}
@media (min-width: 200px) {
  .reservation {
    row-gap: 3vh;
  }
  .reservation h2 {
    color: #FEF4E8;
  }
  .reservation > article {
    width: 100%;
    background-color: #283E56;
  }
  .reservation .policy {
    width: 95%;
    padding: 3%;
    row-gap: 2vh;
  }
  .reservation .policy p {
    color: #FFF6CD;
    font-weight: 600;
  }
  .reservation .policy li {
    color: #FEF4E8;
    font-weight: 400;
  }
  .reservation .schedule {
    display: none;
  }
  .reservation a {
    padding: 2%;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #FEF4E8;
    background-color: #283E56;
    color: #FEF4E8;
  }
}
@media (min-width: 700px) {
  .reservation .schedule {
    width: 50%;
    background-color: #FEF4E8;
    row-gap: 2vh;
  }
  .reservation .schedule > ul {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    row-gap: 2vh;
  }
  .reservation .schedule > ul > li {
    width: 40vh;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
  }
  .reservation .schedule > ul > li li {
    padding-left: 2%;
    list-style-type: none;
    text-transform: capitalize;
    font-size: 15px;
  }
}
@media (min-width: 1000px) {
  nav {
    position: fixed;
  }
  .reservation > article {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .reservation > article .schedule {
    display: flex;
  }
  .reservation .policy {
    width: 50%;
    row-gap: 4vh;
  }
  .reservation a {
    transition: 0.4s;
  }
  .reservation a:hover {
    color: #283E56;
    background-color: #FEF4E8;
  }
  .reservation .schedule {
    width: 50%;
    display: flex;
    padding: 3%;
    row-gap: 5vh;
  }
  .reservation .schedule h2 {
    color: #283E56;
  }
  .reservation .schedule > ul {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .reservation .schedule > ul > li {
    width: 50%;
  }
  .reservation details {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */