* {
  margin: 0;
  padding: 0;
}

nav,
nav>section,
header,
header>section,
main,
main section,
main article,
main aside,
article,
form,
fieldset,
footer {
  @include fColumn;
  align-items: center;
}

main {
  row-gap: 5vh;
}