@media (min-width:$mediaSizeDesktop) {
    .merch {

        background-color: red!important;
        nav{

            > ul {
                display: flex;
            } 

            > details {
                display: none;
            }
        }
    }
}