


@media (min-width:200px) {

  main {
    overflow: hidden;
  }

  // reservation
  .reservation {
    row-gap: 3vh;

    h2 {
      color: $defaultWhite;
    }

    >article {
      width: 100%;
      background-color: $defaultDarkgreen;
    }

    .policy {
      width: 95%;
      padding: 3%;
      row-gap: 2vh;

      p {
        color: $defaultYellow;
        font-weight: 600;
      }

      li {
        color: $defaultWhite;
        font-weight: 400;
      }
    }

    .schedule {
      display: none;
    }

    a {
      padding: 2%;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: 600;
      border: 1px solid $defaultWhite;
      background-color: $defaultDarkgreen;
      color: $defaultWhite
    }
  }
  
  .about-pablo{
    border-top: 1px solid rgb(32, 31, 31);
    border-bottom: 1px solid rgb(32, 31, 31);
    @include sectionflex;
    align-items: center;

    a{
      text-decoration: none;
    }
    > h2{
      font-size: 40px
    }
    .news-preview{
      @include column;
      row-gap: 2vh;
      align-items: center;

      article{
        @include column;
        row-gap: 2vh;
      }

      aside{
        @include column;
      }

      img{
        width: 100%;
      }
    }

    .timeline-preview{
      display: flex;
      justify-content: center;

      figure{
        display: flex;
        align-items: center;
        border-top: 1px solid rgb(32, 31, 31);
        border-bottom: 1px solid rgb(32, 31, 31);
      }
    }

    .stadiums-preview{
      figure{
        @include column;
        align-items: center;
        row-gap: 1vh;
        border: 2px solid $background;
        background-color: $background;
      }

      img{
        width: 100%;
      }

      figcaption{
        line-height: 1.5;
        @include column;
        row-gap: 3vh;
      }
      p{
        width: 95%;
        color: white;
      }
      .stadium-figtop{
        display: flex;
        flex-direction: column;
        row-gap: 3vh;
        text-align: center;
        border-bottom: 1px solid white;
        padding-bottom: 2%;
      }

      .stadium-figbot{
        display: flex;
        column-gap: 3vh;
        justify-content: center;

        span{
          font-size: 20px;
          color: white;
        }

        .capacity{
          @include column;
          align-items: center;
          text-align: center;
        }
      }

      h4{
        color: white;
        text-transform: uppercase;
        display: flex;
        align-items: center;
      }
    } 
    h2{
      color: rgb(141, 30, 64);
      font-size: 26px;
    }
  }

  .merch3 {
    @include flexColumnCenter;
    > article {
      @include flexColumnCenter;
      text-align: center;
    }

    h4 {
      width: 90%;
      font-size: 14px;

      >span {
        color: orangered;
      }
    }
  }

  .merch2 {
    padding-top: 4vh;

    @include flexColumnCenter;
    row-gap: 4vh;

    figure {
      height: 15vh;
      width: 50vh;
    }

    figcaption {
      display: none;
    }

    a:nth-child(1) > figure {
      @include backImage("/img/soccer.jpg");
    }
    a:nth-child(2) > figure {
      @include backImage("/img/football.jpg");
    }
    a:nth-child(3) > figure {
      @include backImage("/img/boxing.jpg");
    }
    a:nth-child(4) > figure {
      @include backImage("/img/golf.jpg");
    }
  }

  .adsa {
    height: 62vh;
    width: 100%;
    @include flexColumnCenter;

    > article {
      position: relative;
      width: 100%;
    }

    video {
        width: 100%;
        position: absolute;
        left: 50%; /* % of surrounding element */
        top: 50%;
        transform: translate(-50%, -50%);
    }
  }



  footer.logojae {
    @include fColumn;
    height: 10vh;
    background-color: $defaultGreen;
    justify-content: center;
    align-items: center;

    section {
      @include fRow;
      align-items: center;
      column-gap: 2vh;
    }

    i,
    h3,
    p {
      color: $defaultWhite;
    }

    h3 {
      font-size: 15px;
    }

    p {
      font-size: 13px
    }

    aside {
      @include fContent (row, center, center, 1vh, 0);

      >a {
        width: 4vh;
        height: 4vh;
        border: 1px solid $defaultWhite;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-size: 13px;
      }
    }
  }

  header.finall {
    height: 60vh;
    display: flex;
    background-color: $defaultWhite;
    align-items: center;
    justify-content: center;

    section {
      width: 19vh;
      height: 22vh;
      background-image: url(/img/logo.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

}