@media (min-width:700px) {

  .reservation {

    .schedule {
      width: 50%;
      background-color: $defaultWhite;
      row-gap: 2vh;

      >ul {
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        row-gap: 2vh;

        >li {
          width: 40vh;
          font-size: 20px;
          display: flex;
          flex-direction: column;
          row-gap: 1vh;

          li {
            padding-left: 2%;
            list-style-type: none;
            text-transform: capitalize;
            font-size: 15px;
          }
        }
      }
    }
  }
  //  PABLO TABLET HOME 

  .about-pablo{
    .news-preview{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      article{
          width: 45%;
      }
  }

  a{
    text-decoration: none;
  }
  h2{
    color: rgb(141, 30, 64);
    font-size: 26px;
  }
  }
 

  .merch {
    width: 100%;

    h4 {
      font-size: 34px;
    }
    
    .merch2 {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 80%;
      column-gap: 4vh;
  
      a {
        width: 40%;
        text-decoration: none;
      }

      a:hover figcaption {
        @include flexColumnCenter;
        text-decoration: none;
        color : white;
        background-color: rgba(0, 0, 0, 0.466);
        width: 100%;
        height: 100%;
      }

      figure {
        width: 100%;
        height: 30vh;
        @include flexColumnCenter;
      }
    }
  }
  .adsa {
    height: 62vh;
    width: 100%;
    @include flexColumnCenter;

    > article {
      position: relative;
      width: 60%;
    }
  }
}